body {
    min-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: lightcoral;
    height: 50px;
}

footer {
    width: 100%;
    background-color: lightseagreen;
    height: 50px;
}

.flexbox-container {
    display: flex;
}

main {
    width: 40%;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: lightgreen;
    height: 500px;
    border-radius: 30px;
    padding: 3px 30px;
}

aside {
    width: 400px;
    min-width: 40px;
    margin: auto;
    background-color: lightpink;
    height: 500px;
}

.contact-form__heading {
    text-align: center;
}


.form__button {
    text-align: center;
}

.form__button-submit {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 3px 60px;
    margin: 5px;
    background-color: #96b97d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.rog {
    text-align: center;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    height: 10px;
    margin: 10px;
}

.form__input--textarea textarea {
    height: 180px;
}

.buttons {
    margin: 10px;
}